# libraries we want to use
pytest
pylint
jupyter
pytest-cov
pandas
nbval
click
flask
google-cloud-bigquery
google
flask-cors
flask_restful
pyarrow
google-cloud-bigquery-storage
pylint-flask
black
requests
fire==0.4.0
fastapi==0.75.1
uvicorn==0.17.6
gunicorn
dash == 2.0.0
dash_bootstrap_components == 1.0.2
numpy == 1.21.4