# libraries we want to use
pytest
pylint
jupyter
pytest-cov
pandas
nbval
click
flask
Flask
google-cloud-bigquery
google
flask-cors
flask_restful
google-cloud-bigquery-storage
pylint-flask
black
requests
fire==0.4.0
fastapi==0.75.1
uvicorn==0.17.6
gunicorn
dash
Dash
dash_bootstrap_components == 1.0.2
numpy
werkzeug == 2.0.0
db_dtypes
plotly
plotly_express